# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build output
*.test
*.out

# Go workspace file
go.work

# Environment variables
.env

# IDE/editor specific
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
